[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"

[packages]
responder = "*"
py2neo = "*"
bcrypt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
initdb = "python bin/initdb.py" 
serve = "python serve.py"
